/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.navigation {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.links {
	padding: 10px 0px 0px 0px;
	text-decoration: none;
	color: grey;
}

.jumbotron {
	display: flex;
	justify-content: space-around;
	padding: 40px;
}

.jumbo-left {
	display: flex;
	justify-content: center;
	width: 40%;
	flex-wrap: wrap;
}

.jumbotron h1 {
	font-size: 70px;
	text-align: center;
	padding: 30px;
	width: 100%;
}

.jumbotron button {
	font-size: 15px;
	height: 30px;
}

hr {
	width: 80%;
}

.top-row {
	display: flex;
	justify-content: center;
	justify-content: space-around ;
	max-width: 100%;
}

.top-section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	width: 50%;
}

.top-row h2 {
	font-size: 18px;
}

.middle-section {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

.middle-img {
	padding-top: 20px;
	width: 100%;
}

.bottom-row {
	display: flex;
	justify-content: space-around ;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.bottom-section {
	padding-top: 20px;
	width: 30%;
}

.web-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 40px;
	
}

.contact {
	padding-left: 50px;
	padding-top: 30px;
}

.contact p {
	padding: 10px;
}

.top-info-services {
	padding: 20px;
}

.header {
	display: flex;
	justify-content: center;
}

.services-header-img {
	padding-top: 20px;
	max-width: 90%;
}

.boxes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.services-box {
	width: 40%;
	margin: 10px;
	border: 1px solid black;
}

.services-box p {
	padding: 5px;
	padding-bottom: 10px;
	margin-left: 10px;
}

.services-box button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.services-box h2 {
	margin-top: 10px;
	margin-left: 10px;
}